<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.instagramproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InstagramProject"
        tools:targetApi="31">
        <activity
            android:name=".screen.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".screen.SplachActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.TagPeopleActivity"
            android:exported="false" />
        <activity
            android:name=".screen.AddLocationActivity"
            android:exported="false" />
        <activity
            android:name=".screen.ScandCreatePostActivity"
            android:exported="true" />
        <activity
            android:name=".screen.SignUp2Activity"
            android:exported="true" />
        <activity
            android:name=".screen.SignUp1Activity"
            android:exported="false" />
        <activity
            android:name=".screen.FirstCreatePostActivity"
            android:exported="false" />
        <activity
            android:name=".screen.LoginWithEmailAndPassActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/fb_login_protocol_scheme"
                    tools:ignore="ManifestResource" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".screen.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>